// Base colors
$serasi-primary: #18191f;
$serasi-secondary: #1947e5;
$serasi-white: #f0f0f0;
$serasi-error: #db3031;
$serasi-placeholder: #9a9aaf;

$serasi-font-small: 14px;
$serasi-font-medium: 16px;
$serasi-font-large: 20px;

$serasi-radius-small: 4px;
$serasi-radius-medium: 6px;
$serasi-radius-large: 8px;
