// Button Style goes here
@import '../../../styles/token.scss';

.button {
  border: 2px solid $serasi-primary;
  background-color: $serasi-primary;
  color: $serasi-white;
  cursor: pointer;
  line-height: 1;

  &--secondary {
    background-color: $serasi-secondary;
    border: 2px solid $serasi-secondary;
    color: $serasi-white;
  }
  &--outline {
    background-color: transparent;
    color: $serasi-primary;
    .button--spinner .path {
      stroke: $serasi-primary;
    }
  }
  &--ghost {
    background-color: transparent;
    border: 2px solid transparent;
    color: $serasi-primary;
    .button--spinner .path {
      stroke: $serasi-primary;
    }
  }
  &--small {
    padding: 10px;
    font-size: $serasi-font-small;
    border-radius: $serasi-radius-small;
  }
  &--medium {
    padding: 12px;
    font-size: $serasi-font-medium;
    border-radius: $serasi-radius-medium;
  }
  &--large {
    padding: 14px;
    font-size: $serasi-font-large;
    border-radius: $serasi-radius-large;
  }
  &--disabled {
    opacity: 0.8;
    cursor: not-allowed;
  }
  &--fullwidth {
    width: 100%;
    display: block;
    text-align: center;
  }
  &--loading {
    pointer-events: none;
  }
  &--spinner {
    animation: rotate 2s linear infinite;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -12px;
    margin-top: -12px;
    .path {
      stroke: $serasi-white;
      stroke-linecap: round;
      animation: dash 1.5s ease-in-out infinite;
    }
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
