@tailwind base;
@tailwind components;
@tailwind utilities;

.docs-story {
  padding: 1rem;
}
.code {
  -webkit-font-smoothing: subpixel-antialiased !important;
  -moz-osx-font-smoothing: auto !important;
  background: #f0f3f5 !important;
  color: green !important;
}
